{{#if is_submit}}
    {{#if is_small}}
        <button type="submit" class="btn btn-success btn-sm " id="{{el_id}}">{{label}}</button>
    {{else}}
        {{#if is_block}}
            <button type="submit" class="btn btn-success btn-block" id="{{el_id}}">{{label}}</button>
        {{else}}
            <button type="submit" class="btn btn-success" id="{{el_id}}">{{label}}</button>
        {{/if}}
    {{/if}}
{{else}}
    {{#if is_small}}
        <button type="button" class="btn btn-success btn-sm" id="{{el_id}}">{{label}}</button>
    {{else}}
        {{#if is_block}}
            <button type="button" class="btn btn-success btn-block" id="{{el_id}}">{{label}}</button>
        {{else}}
            {{#if is_disabled}}
                <button type="button" class="btn btn-success" id="{{el_id}}" disabled>{{label}}</button>
            {{else}}
                <button type="button" class="btn btn-success" id="{{el_id}}">{{label}}</button>
            {{/if}}
        {{/if}}
    {{/if}}
{{/if}}
