<div class="form-group">
    <label>{{label}}</label>
    <input id="{{el_id}}" data-value="{{value}}" data-target="#dateValueContainer-{{name}}" type="date" class="form-control" required>
    <input id="dateValueContainer-{{name}}" name="{{name}}" type="hidden">
</div>
