<div class="form-group">
    <div class="checkbox">
        <label>
            <input type="checkbox" id="{{el_id}}" name="{{name}}" value="{{value}}" {{is_checked}}> {{label}}
        </label>
    </div>
</div>
